@{
    ViewData["Title"] = "Home Page";
}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="~/js/IntroAjax.js"></script>
<div class="container-md">
    <button class="btn btn-primary" id="details-btn">Get Details</button>
    <br />
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card"> 
            <div class="card-header">
                <h2 class="card-header">Surendra</h2>
            </div>
            <div class="card-body" id="details">

            </div>
            
        </div>
    </div>
</div>